# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code related
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.packages
.pub-cache/
.pub/
/build/

# Android related
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java

# iOS/XCode related
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*sync/
**/ios/**/.sconsign.dblite
**/ios/**/.tags*
**/ios/**/.vagrant/
**/ios/**/DerivedData/
**/ios/**/Icon?
**/ios/**/Pods/
**/ios/**/.symlinks/
**/ios/**/profile
**/ios/**/xcuserdata
**/ios/.generated/
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*

/Makefile

# Exceptions to above rules.
!**/ios/**/default.mode1v3
!**/ios/**/default.mode2v3
!**/ios/**/default.pbxuser
!**/ios/**/default.perspectivev3
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
*.dill
*.java
*.bin
*.lock
*.json
.dart_tool/package_config.json
.dart_tool/package_config_subset
.flutter-plugins
.flutter-plugins-dependencies
.packages
android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
android/.gradle/buildOutputCleanup/outputFiles.bin
android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
build/4f2a58af27abc49ecf55570043bbf938.cache.dill.track.dill
build/app/intermediates/compressed_assets/debug/out/assets/flutter_assets/kernel_blob.bin.jar
build/app/intermediates/dex_archive_input_jar_hashes/debug/out
build/app/intermediates/flutter/debug/.last_build_id
build/app/intermediates/flutter/debug/flutter_assets/kernel_blob.bin
build/app/intermediates/flutter/debug/flutter_build.d
build/app/intermediates/flutter/debug/libs.jar
build/app/intermediates/incremental/debug-mergeJavaRes/merge-state
build/app/intermediates/incremental/mergeDebugAssets/merger.xml
build/app/intermediates/incremental/mergeDebugJniLibFolders/merger.xml
build/app/intermediates/incremental/mergeDebugShaders/merger.xml
build/app/intermediates/incremental/packageDebug/tmp/debug/dex-renamer-state.txt
build/app/intermediates/incremental/packageDebug/tmp/debug/zip-cache/javaResources0
build/app/intermediates/legacy_multidex_main_dex_list/debug/mainDexList.txt
build/app/intermediates/manifest_merge_blame_file/debug/manifest-merger-blame-debug-report.txt
build/app/intermediates/merged_manifests/debug/AndroidManifest.xml
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/debug.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-af.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-am.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-ar.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-as.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-az.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-b+sr+Latn.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-be.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-bg.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-bn.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-bs.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-ca.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-cs.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-da.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-de.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-el.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-en-rGB.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-es-rUS.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-es.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-et.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-eu.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-fa.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-fi.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-fr-rCA.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-fr.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-gl.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-gu.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-hi.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-hr.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-hu.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-hy.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-in.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-is.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-it.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-iw.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-ja.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-ka.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-kk.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-km.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-kn.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-ko.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-ky.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-lo.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-lt.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-lv.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-mk.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-ml.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-mn.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-mr.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-ms.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-my.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-nb.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-ne.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-night-v8.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-nl.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-or.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-pa.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-pl.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-pt-rBR.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-pt-rPT.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-ro.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-ru.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-si.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-sk.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-sl.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-sq.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-sr.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-sv.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-sw.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-ta.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-te.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-th.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-tl.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-tr.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-uk.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-ur.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-uz.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-vi.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-zh-rCN.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-zh-rHK.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-zh-rTW.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-zu.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values.json
build/app/intermediates/packaged_manifests/debug/AndroidManifest.xml
build/app/kotlin/compileDebugKotlin/cacheable/caches-jvm/inputs/source-to-output.tab.values.at
build/app/kotlin/compileDebugKotlin/cacheable/last-build.bin
build/app/kotlin/compileDebugKotlin/localstate/build-history.bin
build/app/outputs/apk/debug/app-debug.apk
build/app/outputs/flutter-apk/app-debug.apk
build/app/outputs/flutter-apk/app.apk
build/app/outputs/flutter-apk/app.apk.sha1
build/app/outputs/logs/manifest-merger-debug-report.txt
build/firebase_auth/intermediates/incremental/packageDebugAssets/merger.xml
build/firebase_core/intermediates/incremental/packageDebugAssets/merger.xml
build/flutter_plugin_android_lifecycle/intermediates/incremental/packageDebugAssets/merger.xml
build/image_picker_android/intermediates/compiled_local_resources/debug/out/xml_flutter_image_picker_file_paths.xml.flat
build/image_picker_android/intermediates/incremental/packageDebugAssets/merger.xml
build/url_launcher_android/intermediates/incremental/packageDebugAssets/merger.xml
build/video_player_android/intermediates/incremental/packageDebugAssets/merger.xml
ios/Runner/GeneratedPluginRegistrant.m
